<h1><%= @product.title %></h1>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>
<%= form_tag success_payments_path, method: 'post' do %>
  <script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key="<%=  Rails.application.credentials.stripe[:public_key] %>"
    data-description="<%= @product.title %>"
    data-amount="<%= @product.quantity * 100 %>"
    data-locale="auto"
  ></script>
<% end %>

<%= link_to 'Back', products_path %>
<%= link_to 'Edit', edit_product_path %>
<%= button_to 'delete', product_path(@product), method: :delete, data: { turbo_confirm: "Are you sure?" } %>
